@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>This newly opened WebLibrary has a focus on the darker side of humanity, stories about human suffering and development.</h4>
    <h4>It's of the utmost importance to not forget the past, because in the past lies the knowledge of the future.</h4>
</div>
